html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222;
  min-width: 100vw;
  min-height: 100vh;
}

.navbar {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  background-color: teal;
  color: white;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  position: relative;
  display: flex;
  line-height: .9;
  margin: 0;
}

.list {
  flex: 1;
  margin: 40px;
}

input[type=checkbox] {
  margin-right: 10px;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  line-height: 1.1;
  font-size: 22px;
  padding: 0;
}
